@model List<Acme.DataLayer.Models.ParticipantDraw>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="text-info pt-2 pb-3">participate in our draw this month</h1>
  <p>
    to win a lifetime of our classic <b>earthquake pills</b>
  </p>
  <br />
      <p>Got more products register them to increase your changes! @Html.ActionLink("Register Product", "RegisterProduct", "Draw") </p>
  <br />

  <table style="width:100%" id="ParticipantDraw">
    <thead>
      <tr>
        <td>
          Firstname
        </td>
        <td>
          Lastname
        </td>
        <td>
          Date Of Birth
        </td>
        <td>
          Email
        </td>
        <td>
          SerialNumber
        </td>
      </tr>
    </thead>
    <tbody>
      @foreach (var participant in Model)
      {
        <tr>
          <td>
            @participant.Firstname
          </td>
          <td>
            @participant.Lastname
          </td>
          <td>
            @participant.DateOfBirth.ToString("dd-MM-yyyy")
          </td>
          <td>
            @participant.Email
          </td>
          <td>
            @participant.SerialNumber
          </td>
        </tr>
      }
    </tbody>
  </table>

</div>

<script>
  $(document).ready(function () {
    $('#ParticipantDraw').DataTable();
  });
</script>